@{
    ViewBag.Title = "骏网卡充值";
    Layout = "~/Views/PayCenter/PayCenterLayout.cshtml";
}

<div id="cczx_right">
    <div id="chongzhi2">
        <h1>1.选择充值目标</h1>
        <div class="pay_wh_tt p_textd">
            <ul class="clearfix">
                <li class="where yx current" id="buytogame"><i></i>充值到游戏</li>
                <li class="where zs" id="buytoplatform"><i></i>充值平台币</li>
            </ul>
        </div>
        <div id="xzyx">
            <select id="Selyx" name="GameId" class="select2" onchange="onyxchange()">
                <option value="0">请选择游戏</option>
            </select>
            <select id="Selfwq" name="ServerId" class="select2">
                <option value="0">请选择服务器</option>
            </select>
        </div>
    </div>
    <div id="chongzhi3">
        <h1>2.填写充值账号</h1>
        <input type="hidden" id="PayType" value="9" />
        <p>
            充值账号：<input type="text" name="UserName" id="UserName" value="" /><a style="color: Red">*</a><span>请填写您充值的目标账号</span>
        </p>
        <p>
            确认账号：<input type="text" name="UserNameAG" id="UserNameAG" value="" /><a style="color: Red">*</a>请确认您充值的目标账号
        </p>
        <br />
    </div>
    <div id="chongzhi4">
        <h1>3.选择充值金额</h1>
        <p>
            充值金额：
                <select id="SelMoney" name="SelMoney" onchange="CheckMoney()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                </select>
            元
        </p>
        <p>
            <span style="color: Red;">注：</span>该充值方式兑换比例为：<span style="color: Red;">1：8</span>
        </p>
    </div>
    <div id="cont_main_001">
        <div id="cont_main_top">
        </div>
        <div id="cont_main_center">
            <div id="cont_main_center_top">
                <span style="margin-left:50px;">骏网卡充值说明：</span>

                <p>
                    <span style="color: Red; font-size: 11px;">※不能使用特定游戏专属充值卡支付。 特定游戏包括大唐风云、传说、蜗牛、猫扑一卡通、九鼎、雅典娜、山河等游戏。</span><br />
                    <span style="color: Red; font-size: 11px;">※在此使用过的一卡通，卡内剩余J点只能在易宝支付合作商家进行支付使用。</span><br />
                    【支持卡种】 ※卡号、密码都是16位数字。
                        <br />
                    【支持面额】 ※任意面额 ※对应点数：1元=100J点。
                </p>
                <p>
                    <span style="color: red">※必须使用与订单金额相同面额的充值卡进行支付！</span>否则将导致支付失败、且充值卡余额丢失，由此造成的损失由您承担！
                </p>
            </div>
        </div>
        <div id="cont_main_bottom">
        </div>
    </div>
    <div style="text-align: center">
        <input id="Button1" type="button" value="" class="tijiao" onclick="TjOrder()" />
    </div>
</div>
<script>
    GetAllGame();
</script>
