@{
    ViewBag.Title = "人工充值";
    Layout = "~/Views/PayCenter/PayCenterLayout.cshtml";
}

<div id="cczx_right">
    <div id="czzxmaintop" style="margin-top: 60px; padding-left: 30px">
        温馨提示：兑换券充值功能正在努力开发中~~~，敬请期待~~
    </div>
</div>
