@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>5577yx论坛</title>
</head>
<body>
    <div>
        <img src="../Images/BBS.png" style="width: 100%;" />
    </div>
</body>
</html>
