@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!-- saved from url=(0040)http://speed.qq.com/act/a20101212sdydhl/ -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>成仙路，踏虚空，横扫星域我独尊-太古遮天-跨服战场专题</title>
    <link href="~/Style/tgzt/style.css" rel="stylesheet" />
</head>
<body>
    <div id="awap">

        <div id="tgzt01">
            <a href="/tgzt/" target="_blank" class="nav4">
                <!-- 官网 -->
            </a>
            <a href="http://bbs.5577yx.com/" target="_blank" class="nav3">
                <!-- 论坛 -->
            </a>
            <a href="/Home/Reg" target="_blank" class="nav2">
                <!-- 注册 -->
            </a>
            <a href="/tgzt/" target="_blank" class="nav1">
                <!-- 官网 -->
            </a>
        </div>

        <div id="nav-01">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_01.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <p>
                                <b>更新时间：</b>11月19日 
             <br>
                                <b>参与区服：</b>开服七天以后的区服
             <br>
                                <b>玩法介绍：</b>
                                <br>
                                高端大气，跨服战场已经开启！
              <br>
                                1、星空战场共15层，本平台全服50级玩家均可进入一决高下；
              <br>
                                2、击杀其他玩家可晋级更高层，被击杀则可能掉层，演绎遮天版大逃杀；
              <br>
                                3、专属时装、仙宠、称号、道具，珍贵奖品等你挑战。
              <br>
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <br />
                            <br />
                            <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>

        <div id="nav-02">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_02.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <p>
                                <b>更新时间：</b>11月下旬-12月初 
             <br>
                                <b>参与区服：</b>开服七天以后的区服
             <br>
                                <b>介绍：</b>
                                <br>
                                多人匹配战，单人决胜战，每战都弥漫着硝烟！
              <br>
                                是优雅的战略制敌，还是霸气的碾压灭敌，完全由你演绎！
              <br>
                                跨服竞技赛，敬请期待！
              <br>
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <br />
                            <br />
                            <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>
        <div id="nav-03">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_03.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <p>
                                <b>更新时间：</b>11月下旬-12月初 
             <br>
                                <b>参与区服：</b>开服七天以后的区服
             <br>
                                <b>介绍：</b>
                                <br>
                                圣体的血脉潜力，是无穷无尽的，天地大道，诸天神佛，也无法限制圣体的觉醒！
              <br>
                                从未现世的符文秘法重现人间，必将赋予圣体全新的力量，修仙路上，舍我其谁！
              <br>
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <br />
                            <br />
                            <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>
        <div id="nav-04">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_04.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <br />
                            <p>
                                <b>更新时间：</b>11月下旬 
             <br>
                                <br />
                                <b>介绍：</b>
                                <br>
                                恍若仙界的神秘区域，连通各区！
              <br>
                                在这里，各服玩家可以自由交流，共闯跨服副本，共享跨服活动，共证跨服婚礼，共同膜拜各个服务器中最强者的不朽雕像！
              <br>
                                游戏里，你，绝不是一个人在战斗！
              <br />
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <p>
                                <br />
                                <br />
                                <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>
        <div id="nav-05">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_05.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <br />
                            <p>
                                <b>更新时间：</b>12月中旬 
             <br>
                                <br />
                                <b>介绍：</b>
                                <br>
                                一段时间里，只有一对幸运的新人才能得到在跨服中立区举办跨服婚礼的机会！
              <br>
                                婚礼中，全部服务器玩家均可共同观礼，共同祝福新人，并得到新人回馈的礼物！
              <br>
                                倾世跨服婚礼，等你见证！
              <br />
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <p>
                                <br />
                                <br />
                                <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>
        <div id="nav-06">
            <div class="tanchu">
                <button onclick="showDialog.hide()"></button>
                <dl>
                    <dt>
                        <img src="../Images/tgzt/header.png" width="592" height="24" /></dt>
                    <dd>
                        <div class="tanchu_title">
                            <img src="../Images/tgzt/nav_06.jpg" width="378" height="58" />
                        </div>
                        <div class="tanchu_content">
                            <br />
                            <p>
                                <b>更新时间：</b>12月下旬 
             <br>
                                <br />
                                <b>介绍：</b>
                                <br>
                                星域的限制，也无法限制一个强大家族称霸的雄心！
               <br>
                                在他们的眼中，全部星域都是他们的囊中之物！
              <br>
                                而这一天随着跨服家族战的临近，已不会远了！
              <br>
                                吹响远征之角吧，将家族的旗帜，插遍所有星域中的每一个角落！
              <br />
                                <br />
                                <b>温馨提示：</b>：更多内容将会陆续更新，敬请期待！
                            </p>
                            <p>
                                <br />
                                <br />
                                <div class="gogamebtn"><a href="/tgzt/" target="_blank" style="margin: 0 auto; width: 153px; height: 60px; display: block"></a></div>
                            </p>
                        </div>
                    </dd>
                    <dt>
                        <img src="../Images/tgzt/footer.png" width="592" height="24" /></dt>
                </dl>
            </div>
        </div>

        <div id="tgzt02">
            <a href="*" onclick="TGDialogS('nav-01'); return false;" class="biaoti01"></a>
            <a href="*" onclick="TGDialogS('nav-02'); return false;" class="biaoti02"></a>
            <a href="*" onclick="TGDialogS('nav-03'); return false;" class="biaoti03"></a>
            <a href="*" onclick="TGDialogS('nav-04'); return false;" class="biaoti04"></a>
            <a href="*" onclick="TGDialogS('nav-05'); return false;" class="biaoti05"></a>
            <a href="*" onclick="TGDialogS('nav-06'); return false;" class="biaoti06"></a>
        </div>

        <div id="tgzt04">
            <ul>
                <li>制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
                    Copyright ? 2013 MingChao.All Rights Reserved.广州明朝信息技术有限公司  版权所有<br>
                    粤ICP备10215198号 网络文化经营许可证 文网游备字[2011]W-RPG067号</li>
            </ul>
        </div>


        <script src="~/Scripts/tgzt/showDialog.min.js"></script>
        <script>
            function TGDialogS(e) { showDialog.show({ id: e, bgcolor: "#000", opacity: 70 }); }
        </script>
        <script src="~/Scripts/tgzt/ping_tcss_ied.js"></script>
        <script>if (typeof (pgvMain) == 'function') pgvMain();</script>
    </div>
</body>
</html>
