<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>爱乐扣游戏平台</webname>
  <webcompany>爱乐扣游戏平台</webcompany>
  <weburl>http://www.6qm.com</weburl>
  <webtel />
  <webfax>-</webfax>
  <webmail />
  <webcrod />
  <webtitle>shoye</webtitle>
  <webkeyword />
  <webdescription />
  <webcopyright>版权所有 新宇互联 © Copyright 2009 - 2012. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>stmp.dtcms.net</emailstmp>
  <emailport>25</emailport>
  <emailfrom>test@dtcms.net</emailfrom>
  <emailusername>test@dtcms.net</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>邮件测试</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>1000</attachimgmaxheight>
  <attachimgmaxwidth>768</attachimgmaxwidth>
  <thumbnailheight>196</thumbnailheight>
  <thumbnailwidth>196</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>新宇互联</watermarktext>
  <watermarkfont>黑体</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>default</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring />
</SiteConfig>