@{
    ViewBag.Title = "密保绑定";
    Layout = "~/Views/UserCenter/UserCenterLayout.cshtml";
}

<div id="chright">
    <div class="user_center_content">
        <div class="user_center_content_inner">
            <div class="user_center_content_title">
                设置密保问题
            </div>
            <div class="user_center_content_right">
                <div class="session session_first" style="padding-bottom: 0px;">
                    <div class="board board_yes" style="width: 320px;">
                        <span class="user_center_icon yes"></span><span class="board_item">您已经成功设置密保问题</span>
                    </div>
                </div>
                <div class="session session_first" style="margin-top: 0px;">
                    <div class="input_div">
                        <div class="line">
                            <div class="left">
                                密保问题一：
                            </div>
                            <div class="mid">
                                <p>
                                    我高中老师的名字？
                                </p>
                            </div>
                        </div>
                        <div class="line">
                            <div class="left">
                                答案一：
                            </div>
                            <div class="mid">
                                ***************
                            </div>
                        </div>
                        <div class="line">
                            <div class="left">
                                密保问题二：
                            </div>
                            <div class="mid">
                                <p>
                                    我高中老师的名字？
                                </p>
                            </div>
                        </div>
                        <div class="line">
                            <div class="left">
                                答案二：
                            </div>
                            <div class="mid">
                                ***************
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
