@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>女神联盟5577yx官网</title>
    <link href="~/Style/nslm/mmgw.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Admin/jquery.form.js"></script>
    <script src="~/Scripts/Admin/AdminFunction.js"></script>
    <script src="~/Scripts/Admin/Verify.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tabwj tr:even").css("background-color", "#f8f8f8");
        });
    </script>
</head>

<body>
    <!--统一头部导航开始-->
    @*    <div class="TopCite5Bar">
        <img src="../Images/nslm//mmzs/topdingtu.jpg" width="980" height="39" />
    </div>*@
    <!--统一头部导航结束-->

    <!--头部区 开始-->
    <div class="HeaderBar">
        <div class="HeaderGroup">
            <!--导航开始-->
            <div class="NavBar">
                <ul class="navs1ji">
                    <li class="nahome">
                        <p class="nbts"><a title="官网首页" href="/nslm/" class="current">官网首页</a></p>
                    </li>
                    <li class="naxinwen">
                        <p class="nbts"><a title="新闻公告" href="/PayCenter/">新闻公告</a></p>
                        <p class="ls">热点<span class="yins"><a href="/PayCenter/">热点</a></span></p>
                        <p class="ls">新闻<span class="yins"><a href="/PayCenter/">新闻</a></span></p>
                        <p class="ls">公告<span class="yins"><a href="/PayCenter/">公告</a></span></p>
                        <p class="ls">活动<span class="yins"><a href="/PayCenter/">活动</a></span></p>
                        <p class="ls">媒体<span class="yins"><a href="/PayCenter/">媒体</a></span></p>
                    </li>
                    <li class="naziliao">
                        <p class="nbts"><a title="游戏资料" href="/PayCenter/">游戏资料</a></p>
                        <p class="ls">新手指南<span class="yins"><a href="/PayCenter/">新手指南</a></span></p>
                        <p class="ls">特色玩法<span class="yins"><a href="/PayCenter/">特色玩法</a></span></p>
                        <p class="ls">游戏图库<span class="yins"><a href="/PayCenter/">游戏图库</a></span></p>
                        <p class="ls">特色玩法<span class="yins"><a href="/PayCenter/">特色玩法</a></span></p>
                        <p class="ls">游戏图库<span class="yins"><a href="/PayCenter/">游戏图库</a></span></p>
                    </li>
                    <li class="napay">
                        <p class="nbts"><a title="游戏充值" href="/PayCenter/">游戏充值</a></p>
                    </li>
                    <li class="nakefu">
                        <p class="nbts"><a title="客服中心" href="http://wpa.qq.com/msgrd?v=3&uin=2067257264&site=qq&menu=yes">客服中心</a></p>
                    </li>
                    <li class="nabbs">
                        <p class="nbts"><a title="玩家论坛" href="http://bbs.5577yx.com">玩家论坛</a></p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="Navbg"></div>
            <!--导航结束-->
            <div class="logoQu"><a href="/nslm/" title="女神联盟" class="logo">女神联盟</a></div>
            <div class="logoyuQu"><a href="#" title="女神降临" class="btn_nvshen">女神降临</a></div>
            <div class="bannerQu">
                <a href="#">
                    <img src="../Images/nslm/mmzs/pic_banner_01.jpg" alt="图片文字说明" width="530" height="165"></a>
            </div>


            <!--share 开始-->
            <div class="baiduSharePost">
                <div class="bdshare_t bds_tools get-codes-bdshare" id="ckepop">
                    <em>分享到：</em>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_weixin"></a>
                </div>
                <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
            </div>
            <!--share 结束-->
            <h1 class="Age_gm_Post">女神联盟</h1>
            <div class="AgePost">适合年龄：18岁以上玩家</div>
        </div>
    </div>
    <!--头部区 结束-->

    <!--内容框架Start-->
    <div class="kuangBar">
        <div class="kuangBar_bg_top">
            <div class="kuangBar_bg_di">
                <div class="kuangGroup">
                    <div class="kuangGroup_top">
                        <div class="kuangGroup_di">
                            <!--框架左侧开始-->

                            <div class="kuangqu_a">

                                <!--开始游戏FLASH 区Start-->
                                @*<div class="Jihuo_flash_qu">
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" name="ExpectOpen" width="210" height="138" id="ExpectOpen">
                                        <param name="movie" value="../Images/nslm/mmzs/start.swf">
                                        <param name="quality" value="high">
                                        <param name="allowscriptaccess" value="always">
                                        <embed src="../Images/nslm/mmzs/start.swf" width="210" height="138" allowscriptaccess="always" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" name="ExpectOpen">
                                    </object>
                                </div>*@
                                <div class="Jihuo_Jian"></div>
                                <!--开始游戏FLASH 区End-->

                                <!--UsrLogin 区Start-->
                                <div class="UserLoginKuang_bg">
                                    <div class="user_dengluQu">
                                        <form id="form1" name="form1" method="post" onsubmit="return KsLogin2()">
                                            <div class="lg_srqu">
                                                <p class="lg_srzh">
                                                    <input id="UserName" name="UserName" type="text" class="nor" value="" />
                                                </p>
                                                <p class="lg_srmm">
                                                    <input id="PWD" name="PWD" type="password" class="nor" value="" />
                                                </p>
                                                <p class="lg_dl">
                                                    <input type="submit" class="btn_dl" style="border: none;">
                                                </p>
                                                <input name="ck1" type="checkbox" class="fill_duoxuan" value="checkbox" />
                                                <p class="lg_ts"><span class="jzyhm">下次自动登录</span>|<a href="/UserCenter/FindPwd" title="忘记密码" class="wjmms">忘记密码？</a></p>
                                            </div>
                                        </form>
                                        <div class="zucequ"><a href="/Home/Reg" class="btn_zczh">注册帐号</a></div>
                                        <div class="lgtu_fshi"><span class="fss">更多登录方式</span><a href="#" class="wc_17173" title="以17173帐号登录"><i>17173</i></a><a href="#" class="wc_sina" title="以新浪帐号登录"><i>新浪</i></a> </div>
                                    </div>
                                </div>
                                <!--UsrLogin 区End-->

                                <!--首页发放大事记 区Start-->
                                <div class="FadashiGroup"><a href="/GameGift/" title="新手卡领取" class="btn_fafang">新手卡领取</a><a href="/NewsCenter/" title="新手指南" class="btn_zhinan">新手指南</a><a href="/NewsCenter/" title="精彩活动" class="btn_hodos">精彩活动</a><a href="/NewsCenter/" title="大事记" class="btn_dashi">大事记</a> </div>
                                <!--首页发放大事记 区End-->

                                <!--推荐服务器区 开始-->
                                <div class="TuijGroup">
                                    <div class="xline_box">
                                        <div class="lan_bt">推荐服务器</div>
                                        <div class="tj_lis">
                                            <p><span class="tuijz"><a href="#">火爆开启</a></span><a href="@ViewData["TjqfHref"]" class="zt_a">@ViewData["TjqfName"]</a> </p>
                                        </div>
                                        <div class="tj_gd"><a href="/nslm/Servers" class="btn_gdfl">更多服务器列表</a></div>
                                        <div class="tj_wh">例行维护时间：<span class="ws">每周五0:00-3:00</span></div>
                                    </div>
                                </div>
                                <!--推荐服务器区end-->

                                <!--游戏特色 区Start-->
                                <div class="yxteseGroup">
                                    <div class="yx_tese_bt">游戏特色</div>
                                    <div class="yx_tese_nr">
                                        <p><a href="#" rel="nofollow">解救女神</a><a href="#" rel="nofollow">战胜邪恶</a> </p>
                                        <p><a href="#" rel="nofollow">唯美魔幻</a><a href="#" rel="nofollow">实时动态</a> </p>
                                        <p><a href="#" rel="nofollow">四维养成</a><a href="#" rel="nofollow">打破传统</a> </p>
                                        <p><a href="#" rel="nofollow">多元战斗</a><a href="#" rel="nofollow">谱写赞歌</a> </p>
                                    </div>
                                </div>
                                <!--游戏特色 区End-->

                                <!--微信微博 区Start-->
                                <div class="WeixinboGroup">
                                    <div class="xline_box">
                                        <div class="weixin_bg"></div>
                                        <div class="weitubiao"><a href="#" class="btn_tubiao_sina">新浪微博</a><a href="#" class="btn_tubiao_qq">腾讯微博</a></div>
                                        <div class="weiQQcun">
                                            @* <p class="icon_qqtu">QQ群1：173672062 </p>
                                            <p class="icon_qqtu">QQ群2：191924493</p>*@
                                        </div>
                                    </div>
                                </div>
                                <!--微信微博 区End-->

                                <!--gugu区开始-->
                                <div class="gugu_lt_qu">
                                    <p>
                                        <a href="#">
                                            <img src="../Images/nslm//mmzs/pic_gugu_01.jpg" alt="文字说明" width="210" height="80"></a>
                                    </p>
                                    <p>
                                        <a href="#">
                                            <img src="../Images/nslm//mmzs/pic_gugu_01.jpg" alt="文字说明" width="210" height="80"></a>
                                    </p>
                                </div>
                                <!--gugu区结束-->


                                <!--客户服务 区Start-->
                                <div class="serviceGroup">
                                    <div class="xline_box">
                                        <div class="serdian_title"></div>
                                        <div class="ser_con">
                                            <p>论坛: <a href="http://bbs.youzu.com/group/2008" target="_blank" rel="nofollow">点击进入</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <!--客户服务 区End-->

                                <!-- 家长监控开始 -->
                                <div class="jiankongGroup"><a href="#" class="btn_jzjk">家长监控系统</a></div>
                                <!-- 家长监控结束 -->

                                <!--gugu区开始-->
                                @*  <div class="gugu_lt_qu">
                                    <p>
                                        <a href="http://mm.youzu.com/media/63877.html" target="_blank">
                                            <img src="../Images/nslm//mmzs/pic_ruizhi.jpg" alt="文字说明" width="210" height="55"></a>
                                    </p>
                                </div>*@
                                <!--gugu区结束-->


                            </div>
                            <!--框架左侧结束-->
                            <!--框架右侧开始-->

                            <div class="kuangqu_b">

                                <!--大眼一行 区Start-->
                                <div class="dahaGroup">
                                    <div class="daqu_a">
                                        <!--大眼睛广告区-->
                                        <div class="dyjGroup">
                                            <div class="dyj_pics">
                                                <a href="#" target="_blank">
                                                    <img src="../Images/nslm//mmzs/pic_dayanjing.jpg" alt="图片文字说明" width="385" height="251" border="0" /></a>
                                            </div>
                                            <div class="dyj_numqu"><a href="#" class="on">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a> </div>
                                        </div>
                                        <!--大眼睛广告区结束-->
                                    </div>
                                    <div class="daqu_b">
                                        <!--热点新闻 区Start-->
                                        <div class="HotnewsGroup">
                                            <div class="Hnew_nav">
                                                <ul class="nxMenuZu">
                                                    <li class="current"><a title="热点" href="/NewsCenter/" class="mu_rd">热点</a> </li>
                                                    <li><a title="新闻" href="/NewsCenter/" class="mu_xw">新闻</a> </li>
                                                    <li><a title="活动" href="/NewsCenter/" class="mu_hd">活动</a> </li>
                                                    <li><a title="公告" href="/NewsCenter/" class="mu_gg">公告</a> </li>
                                                    <li><a title="媒体" href="/NewsCenter/" class="mu_mt">媒体</a></li>
                                                    <li><a title="更多" href="/NewsCenter/" class="mu_gd">更多 +</a></li>
                                                    <div class="clear"></div>
                                                </ul>
                                            </div>
                                            <div class="Hnew_bt">
                                                <p class="newdabiao"><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">《女神联盟》双倍狂欢活动延长公告</a></p>
                                            </div>
                                            <div class="Hnew_nr">
                                                @* <p><span class="date">02-16</span><span class="leis"><a href="#">热点</a></span><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">女神联盟》双倍狂欢活动延长公告</a></p>
                                                <p><span class="date">02-16</span><span class="leis"><a href="#">新闻</a></span><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">女神联盟》双倍狂欢活动延长公告</a></p>
                                                <p><span class="date">02-16</span><span class="leis"><a href="#">热点</a></span><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">《女神联盟》双倍狂欢活动延长公告</a></p>
                                                <p><span class="date">02-16</span><span class="leis"><a href="#">热点</a></span><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">《女神联盟》双倍狂欢活动延长公告</a></p>
                                                <p><span class="date">02-16</span><span class="leis"><a href="#">热点</a></span><a href="#" title="《女神联盟》双倍狂欢活动延长公告" class="zw">《女神联盟》双倍狂欢活动延长公告</a></p>*@
                                                @Html.Raw(ViewData["News"])
                                            </div>
                                        </div>
                                        <!--热点新闻 区End-->
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <!--大眼一行 区End-->

                                <!--四张图片 区Start-->
                                <div class="shenpicShowGroup">
                                    <a href="#" class="shentu_01">
                                        <img src="../Images/nslm//mmzs/shentu_pic_01.jpg" alt="图片文字说明" width="191" height="117" border="0" /></a><a href="#" class="shentu_02"><img src="../Images/nslm//mmzs/shentu_pic_01.jpg" alt="图片文字说明" width="191" height="117" border="0" /></a><a href="#" class="shentu_03"><img src="../Images/nslm//mmzs/shentu_pic_03.jpg" alt="图片文字说明" width="191" height="117" border="0" /></a><a href="#" class="shentu_04"><img src="../Images/nslm//mmzs/shentu_pic_04.jpg" alt="图片文字说明" width="191" height="117" border="0" /></a>
                                </div>
                                <!--四张图片 区End-->
                                <!--首页右下框区域开始-->
                                <div class="HmRouKuang">
                                    <!--英雄介绍 区Start-->
                                    <div class="HeroJsGroup">
                                        <div class="HeroJs_dabt_zu">
                                            <div class="HeroJs_bt_zu">
                                                <span class="jc_n">&nbsp;</span><a title="更多" href="#" class="jc_more">更多 +</a>
                                                <ul class="hebts">
                                                    <li><a title="女神介绍" href="#" class="on">女神介绍</a> </li>
                                                    <li><a title="英雄介绍" href="#" class="off">英雄介绍</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="HeroJs_pic_zu">

                                            <!--图片大框架-->
                                            <div class="hj_js_heng_bar">

                                                <!--图片组-->
                                                <div class="hj_jsGroup" style="background: url(../Images/nslm//mmzs/pic_yingxiong_01_b.jpg) no-repeat;">
                                                    <div class="hj_jsNr">
                                                        <p class="hjs_yxnm">夜之女神</p>
                                                        <p class="hjs_yxsm">比黑夜还要深邃，比血液还要鲜红，我们向黑夜起誓以女神之名，赐汝永恒之祝福</p>
                                                        <p class="hjs_shu"><span class="hjsu">英雄职业：</span>范围攻击高爆发</p>
                                                        <p class="hjs_shu"><span class="hjsu">英雄定位：</span>范围攻击高爆发</p>
                                                        <p class="hjs_shu"><span class="hjsu">成长资质：</span><span class="hjxing">★ ★ ★ ★ ★</span></p>
                                                        <p class="hjs_shu"><span class="hjsu">英雄技能：</span>月之降临</p>
                                                        <p class="hjs_btn"><a title="查看详细" href="#" class="jc_ckxx">查看详细 &gt;</a></p>
                                                    </div>
                                                </div>
                                                <!--图片组结束-->
                                                <div class="hj_jsGroup" style="background: red url(../Images/nslm//mmzs/pic_yingxiong_016_b.jpg) no-repeat;">
                                                    <div class="hj_jsNr">
                                                        <p class="hjs_yxnm">夜之女神</p>
                                                        <p class="hjs_yxsm">比黑夜还要深邃，比血液还要鲜红，我们向黑夜起誓以女神之名，赐汝永恒之祝福</p>
                                                        <p class="hjs_shu"><span class="hjsu">推荐指数：</span><span class="hjxing">★ ★ ★ ★ ★</span></p>
                                                        <p class="hjs_shu"><span class="hjsu">攻击属性：</span>范围攻击高爆发</p>
                                                        <p class="hjs_shu"><span class="hjsu">必杀技能：</span>月之降临</p>
                                                        <p class="hjs_shu"><span class="hjsu">激活条件：</span>获得10个英雄</p>
                                                        <p class="hjs_btn"><a title="查看详细" href="#" class="jc_ckxx">查看详细 &gt;</a></p>
                                                    </div>
                                                </div>
                                                <!--图片组结束-->

                                                <div class="clear"></div>
                                            </div>
                                            <!--图片大框架-->
                                            <a href="#" class="hj_icon_left">上一个</a> <a href="#" class="hj_icon_right">下一个</a> <a href="index_tips.html" class="hj_dianji">&nbsp;</a>
                                            <div class="hj_shu"><span class="zi">15</span>/24</div>
                                            <div class="hj_xuans" style="display: none;">
                                                <p><a href="#">1</a></p>
                                                <p><a href="#" class="on">2</a></p>
                                                <p><a href="#">1</a></p>
                                                <p><a href="#">1</a></p>
                                                <p><a href="#">1</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--英雄介绍 区End-->
                                    <!--玩家排行 区Start-->
                                    @*<div class="wjRankGroup">
                                        <div class="wj_bts">
                                            <span class="game_tit">玩家排行</span>
                                            <div class="pai_xuanqu">
                                                <span class="wen_xfu">选择区服</span>
                                                <a href="" class="in_xuanqu">血腥大地</a>
                                                <ul class="in_xuanqu_list">
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                    <li><a href="">帝国荣耀</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="wjtab_nrs">

                                            <div class="loadstu">
                                                <img src="http://pic.youzu.com/mm/../Images/nslm//mmzs/loading.gif" width="32" height="32">
                                            </div>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabwj">
                                                <tr>
                                                    <th>排行</th>
                                                    <th>玩家</th>
                                                    <th><span class="i_click">等级</span></th>
                                                    <th><span class="i_not">战力</span></th>
                                                    <th>无尽之塔</th>
                                                    <th>鲜花数量</th>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em class="c">1</em></td>
                                                    <td>撸哥</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>
                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em class="c">2</em></td>
                                                    <td>冷血﹏℡男人</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em class="c">3</em></td>
                                                    <td>撸哥</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>4</em></td>
                                                    <td>冷血﹏℡男人</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>5</em></td>
                                                    <td>撸哥</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>6</em></td>
                                                    <td>冷血﹏℡男人</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>7</em></td>
                                                    <td>撸哥</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>8</em></td>
                                                    <td>冷血﹏℡男人</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>9</em></td>
                                                    <td>撸哥</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                                <tr>
                                                    <td class="num"><em>10</em></td>
                                                    <td>冷血﹏℡男人</td>
                                                    <td>LV.99</td>
                                                    <td>5</td>
                                                    <td>999</td>

                                                    <td>999</td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>*@
                                    <!--玩家排行 区End-->
                                    <!--资料攻略一行 区Start-->
                                    <div class="yxHangGroup">
                                        <!--游戏资料 区Start-->
                                        <div class="yxZiliaoGroup">
                                            <div class="yxl_bts"><span class="btsof_zl">游戏资料</span><a title="更多" href="/NewsCenter/" class="jc_more">更多 +</a></div>
                                            <div class="yxl_nrs">
                                                <table border="0" cellspacing="0" cellpadding="0" class="yxzl_nrbiao">
                                                    <tr>
                                                        <th class="lie1"><a href="/NewsCenter/News?N=1797">创建角色</a></th>
                                                        <th class="lie2"><a href="/NewsCenter/News?N=1798">聊天系统</a></th>
                                                        <th class="lie3"><a href="/NewsCenter/News?N=1804">公测FAQ</a></th>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="lie1">
                                                            <p><a href="/NewsCenter/News?N=1807">宝石迷阵</a></p>
                                                            <p><a href="/NewsCenter/News?N=1808">夺宝奇兵</a></p>
                                                            <p><a href="/NewsCenter/News?N=1809">挑战冥界</a></p>
                                                            <p><a href="/NewsCenter/News?N=1810">守护女神</a></p>
                                                        </td>
                                                        <td valign="top" class="lie2">
                                                            <p><a href="/NewsCenter/News?N=1812">挑战十二宫</a></p>
                                                            <p><a href="/NewsCenter/News?N=1813">我的庄园</a></p>
                                                            <p><a href="/NewsCenter/News?N=1816">法师介绍</a></p>
                                                            <p><a href="/NewsCenter/News?N=1815">布阵系统</a></p>
                                                            <p><a href="/NewsCenter/News?N=1814">组队副本</a></p>
                                                        </td>
                                                        <td valign="top" class="lie3">
                                                            <p><a href="/NewsCenter/News?N=1817">公会系统</a></p>
                                                            <p><a href="/NewsCenter/News?N=1820">女神圣殿</a></p>
                                                            <p><a href="/NewsCenter/News?N=1821">女神圣衣</a></p>
                                                            <p><a href="/NewsCenter/News?N=1822">英雄培养</a></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!--游戏资料 区End-->
                                        <!--游戏攻略 区Start-->
                                        <div class="yxGongGroup">
                                            <div class="yxgong_bts"><span class="btsof_gl">游戏攻略</span></div>
                                            <div class="yxgong_nrs">
                                                <div class="yg_bt_zu">
                                                    <a title="更多" href="/NewsCenter/" class="jc_more">更多 +</a>
                                                    <ul class="hebts">
                                                        <li><a href="#" class="on">新手攻略</a> </li>
                                                        <li><a href="#" class="off">高手进阶</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="yg_nr_zu">
                                                    <p><a href="/NewsCenter/News?N=1823" title="《女神联盟》英雄招募" class="zw">《女神联盟》英雄招募</a></p>
                                                    <p><a href="/NewsCenter/News?N=1824" title="《女神联盟》职业介绍" class="zw">《女神联盟》职业介绍</a></p>
                                                    <p><a href="/NewsCenter/News?N=1825" title="《女神联盟》装备系统" class="zw">《女神联盟》装备系统</a></p>
                                                    <p><a href="/NewsCenter/News?N=1826" title="《女神联盟》坐骑获取" class="zw">《女神联盟》坐骑获取</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--游戏攻略 区End-->
                                        <div class="clear"></div>
                                    </div>
                                    <!--资料攻略一行 区End-->

                                    <!--游戏壁纸box 区Start-->
                                    <div class="biziGroup">
                                        <div class="bizi_biaotiQu">
                                            <div class="bzibt_zu">
                                                <a title="更多" href="#" class="jc_more">更多 +</a>
                                                <ul class="hebts">
                                                    <li><a href="#" class="on">游戏壁纸</a> </li>
                                                    <li><a href="#" class="off">游戏截图</a> </li>
                                                    <li><a href="#" class="off">游戏视频</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tushowZu">
                                            <ul>
                                                <li>
                                                    <p class="jie_tu">
                                                        <a href="#">
                                                            <img src="../Images/nslm//mmzs/pic_tuzhi.jpg" width="170" height="106"></a>
                                                    </p>
                                                    <p class="jie_txt"><a href="#">月之女神</a></p>
                                                </li>
                                                <li>
                                                    <p class="jie_tu">
                                                        <a href="#">
                                                            <img src="../Images/nslm//mmzs/pic_tuzhi.jpg" width="170" height="106"></a>
                                                    </p>
                                                    <p class="jie_txt"><a href="#">水帘洞</a></p>
                                                </li>
                                                <li>
                                                    <p class="jie_tu">
                                                        <a href="#">
                                                            <img src="../Images/nslm//mmzs/pic_tuzhi.jpg" width="170" height="106"></a>
                                                    </p>
                                                    <p class="jie_txt"><a href="#">水帘洞</a></p>
                                                </li>
                                                <li>
                                                    <p class="jie_tu">
                                                        <a href="#">
                                                            <img src="../Images/nslm//mmzs/pic_tuzhi.jpg" width="170" height="106"></a>
                                                    </p>
                                                    <p class="jie_txt"><a href="#">水帘洞</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--游戏壁纸box 区End-->
                                    <!--百科box 区Start-->
                                    <div class="BaikeGroup">
                                        <div class="bai_biaotiQu">
                                            <div class="baibt_zu">
                                                <a title="更多" href="#" class="jc_more">更多 +</a>
                                                <ul class="hebts">
                                                    <li><a href="#" class="on">网易</a> </li>
                                                    <li><a href="#" class="off">新浪</a> </li>
                                                    <li><a href="#" class="off">17173</a> </li>
                                                    <li><a href="#" class="off">叶子猪</a> </li>
                                                    <li><a href="#" class="off">766</a> </li>
                                                    <li><a href="#" class="off">52PK</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="bai_nrQu">
                                            <div class="yinyongqu">
                                                <img src="../Images/nslm//mmzs/baike_yinyong.jpg" width="737" height="150">
                                            </div>
                                        </div>
                                    </div>
                                    <!--百科box 区End-->
                                    <!--微直播 区Start-->
                                    @*<div class="WeizhiboGroup">
                                        <div class="Wei_btzu">微直播</div>
                                        <div class="Wei_nrzu">
                                            <img src="../Images/nslm//mmzs/pic_sinaweibo.jpg" width="738" height="376">
                                        </div>
                                    </div>*@
                                    <!--微直播 区End-->
                                    <!--合作媒体 区Start-->
                                    <div class="hezuoMeitiGroup">
                                        <div class="hemei_bts"><span class="hezi">合作媒体</span></div>
                                        <div class="hemei_nrs">
                                            <div class="henr">
                                                <a href="#">
                                                    <img src="../Images/nslm//mmzs/pic_hmeiti_01.jpg" width="21" height="21" border="0" />腾讯游戏</a><a href="#"><img src="../Images/nslm//mmzs/pic_hmeiti_02.jpg" width="21" height="21" border="0" />
                                                        多玩游戏</a><a href="#"><img src="../Images/nslm//mmzs/pic_hmeiti_03.jpg" width="21" height="21" border="0" />
                                                            页游网</a><a href="#"><img src="../Images/nslm//mmzs/pic_hmeiti_04.jpg" width="21" height="21" border="0" />
                                                                07073</a><a href="#"><img src="../Images/nslm//mmzs/pic_hmeiti_05.jpg" width="21" height="21" border="0" />
                                                                    新浪游戏</a><a href="#"><img src="../Images/nslm//mmzs/pic_hmeiti_06.jpg" width="21" height="21" border="0" />
                                                                        265G</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--合作媒体 区End-->

                                </div>

                                <!--首页右下框区域结束-->


                                <!--友情链接new开始-->
                                @*<div class="youlianBar">
                                    <div class="youlian_bt">
                                        <a class="yl_menu_on" href="#">友情链接</a><!--<a href="#" class="yl_menu_off">媒体链接</a>-->
                                    </div>
                                    <div class="youlian_nrkuang">
                                        <div class="ylnrs">
                                            <a title="重返米奇世界" href="#">重返米奇世界</a><a title="幻世英雄录" href="#">幻世英雄录</a><a title="侠物语" href="#">侠物语</a><a title="游族网络" href="#">游族网络</a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>*@
                                <!--友情链接new结束-->


                            </div>
                            <!--框架右侧结束-->
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--内容框架End-->

    <!--尾部开始-->
    @*<div class="FootWrap">
        <div class="FootGroup">
            <p class="guanyu"><a title="关于游族" href="http://www.youzu.cn/about/" target="_blank">关于游族</a> <a rel="external nofollow" title="服务条款" href="http://www.youzu.com/about/services.html" target="_blank">服务条款</a> <a rel="external nofollow" title="联系我们" href="http://www.youzu.cn/connect" target="_blank">联系我们</a> <a rel="external nofollow" title="公司招聘" href="http://www.youzu.cn/jobs" target="_blank">公司招聘</a> <a rel="external nofollow" title="客服中心" href="http://kf.youzu.com" target="_blank">客服中心</a> <a rel="external nofollow" title="商务合作" href="http://www.youzu.cn/about/cooperate" target="_blank">商务合作</a> <a title="网站地图" href="http://www.youzu.com/about/sitemap.html" target="_blank">网站地图</a> <a title="网页游戏" href="http://www.youzu.com/game" target="_blank" rel="nofollow">网页游戏</a> <a title="游族无线" href="http://m.youzu.com/" target="_blank">游族无线</a> </p>
            <!--<p class="dizhi">抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活。</p>-->
            <p class="logoTuijianqu">
                <span class="utjzi">游族推荐游戏：</span> <a title="大侠传" target="_blank" href="http://x.youzu.com">大侠传</a> <a title="大将军" target="_blank" href="http://d.youzu.com/">大将军</a> <a title="女神联盟" target="_blank" href="http://mm.youzu.com/">女神联盟</a> <a title="轩辕变" target="_blank" href="http://y.youzu.com/">轩辕变</a> <a title="一代宗师" target="_blank" href="http://1.youzu.com">一代宗师</a> <a title="萌江湖" target="_blank" href="http://m.youzu.com/mjh" rel="nofollow">萌江湖</a> <a title="侠物语" target="_blank" href="http://xwy.youzu.com" rel="nofollow">侠物语</a> <a title="七十二变" target="_blank" href="http://72.youzu.com" rel="nofollow">七十二变</a> <a title="十年一剑" target="_blank" href="http://10.youzu.com" rel="nofollow">十年一剑</a> <a title="三十六计" target="_blank" href="http://36ji.youzu.com" rel="nofollow">三十六计</a>
                <img src="http://aw.kejet.net/t?t=i&amp;p=6&amp;c=l" height="0" width="0">
            </p>
            <p class="gsname">上海游族信息技术有限公司(<a href="http://www.youzu.com">www.youzu.com</a>)</p>
            <p class="beianhao"><a href="http://pic.youzu.com/youzu/../Images/nslm//layout/ICP1.jpg" target="_blank">沪B2-20090105号</a>&nbsp; <a href="http://www.miibeian.gov.cn" target="_blank">沪ICP备09058784号</a>&nbsp; <a href="http://pic.youzu.com/youzu/../Images/nslm//layout/net.jpg" target="_blank">沪网文[2012]0815-108</a>&nbsp; <a href="http://pic.youzu.com/youzu/../Images/nslm//layout/publish.jpg" target="_blank">新出网证(沪)字33号</a> </p>
            <p class="jiangao_1"><span class="jt">健康游戏忠告</span></p>
            <p class="jiangao_2">抵制不良游戏<span class="js"> </span>拒绝盗版游戏<span class="js"> </span>注意自我保护<span class="js"> </span>谨防受骗上当<span class="js"> </span>适度游戏益脑<span class="js"> </span>沉迷游戏伤身<span class="js"> </span>合理安排时间<span class="js"> </span>享受健康生活</p>
        </div>
    </div>*@
    <!--尾部结束-->

    <!--TOP开始-->
    <div class="Weizhi_shen_off">
        <div class="shen_off_Group"><a href="#" class="s_ding">top</a> </div>
    </div>
    <!--TOP置 结束-->

    <!--伸展1位置 开始-->
    <div class="Weizhi_shen_off">
        <div class="shen_off_Group"><a href="#" class="entry_pinpai">品牌站</a><a href="#" class="s_ding">top</a></div>
        <div class="rongyu_Group">
            <a href="" class="btn_pinpai">女神联盟品牌站</a>
        </div>
        <div class="clear"></div>
    </div>
    <!--伸展1位置 结束-->

</body>
</html>

