@{
    Layout = null;
}

<div class="partner">
    <div class="cn">
		<ul class="pt_list" style=" display: block;">
            @Html.Raw(ViewData["YqLink"])
            </ul></div></div>
@*<div style="float: left; width: 100%; border: 1px solid #c9c9c9; margin-top: 5px">
    <span class="spanlink1" title="展开更多连接"></span>
    <div class="aLink" style="height: auto; max-height: 200px; overflow: auto;">
        @Html.Raw(ViewData["YqLink"])
    </div>
    <div class="moreLink">
    </div>
</div>*@

<div id="footer">
    <div id="footmain" style="text-align:center;margin-top:10px; margin-bottom:15px;">
        <p>
            <a href="/About/?Id=1">关于我们</a>┊ <a href="/About/?Id=2">联系我们</a>┊<a href="/About/?Id=3">商务合作</a>┊<a href="/About/?Id=4">服务条款</a>┊ <a href="/About/?Id=5">人才招聘</a>┊ <a href="/About/?Id=6">家长监护</a>
        </p>
        <p>
            鄂ICP备13013403号-1 
        </p>
        <p>
            Copyright © 2013 All Rights Reserved
        </p>
    </div>
</div>

