@{
    ViewBag.Title = "WdServers";
}


@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>选服-YY风云无双</title>
<link href="~/Style/fyws/style.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

</head>
<body>
	<!-- Main -->
	<div class="main login_xf">
        
        <div class="use_conn cs-clear">
            <div class="use"><span style="color:#FF0;" id="passport">@ViewData["UserName"]</span> 欢迎您登陆，请选择服务器<a href="Wd">撤销</a></div>
            <div class="zjdl cs-clear">
               <div class="useleft">
                  <p id="recently_1" class="recently">@ViewData["LLName"]</p>
               </div>
               <div class="useright cs-clear">
                   <a id="enterGameBtn" href="@ViewData["LLHref"]" class="use_btn" title="进入游戏">进入游戏</a>
               </div>
            </div>
        </div>
        
        <div class="use_xf cs-clear">
          <div class="tabTit cs-clear ">
              <p>1-100服</p>
              <!--<p>100-300服</p>-->
          </div>
          <div class="tabCon ">
              <div class="list">
                  @Html.Raw(ViewData["gsHtml"])
              </div>
              <!--<div class="list">
              </div>-->
          </div>
        </div>
        
    
    </div>
	<!-- Main end -->
</body>
</html>


