@{
    ViewBag.Title = "推广中心";
    Layout = "~/Views/SpreadCenter/SpreadLayout.cshtml";
}

@*<div class="page-content"  >
  <div class="page-header">
    <h1><i class="icon-user"></i>&nbsp;推广用户</h1>
      <p>
                    <strong>推广员：</strong><font class="orange_link"> @ViewData["UserName"]</font>
                </p>
                <p>
                    <strong>推广人数：</strong><font class="orange_link">@ViewData["SpreadCount"]</font>人
                </p>
      <span style="margin-left: 100px; color: Red;">总业绩：<strong id="SpreadMoney">@ViewData["SpreadMoney"]</strong></span>
  </div>
   </div>*@

